# Settings and credentials of this deployment
/.env
/.env.*
/.admin
/docker-compose.override.yml
/config/nginx/realip/custom.conf
/proxy-bundle.tar.gz
/.philomena.lock
/.update-incomplete

# Certificates
/certs/*
!/certs/.keep

# Data
/volumes/*
!/volumes/.keep
/backups/*
!/backups/.keep
/logs/*
!/logs/.keep
